body {
	font-family: 'Nunito';
}

.flex {
	display: flex;
	flex-direction: column;
	width: 400px;
}

table th,
table td {
	padding: 4px 10px;
	border: solid 1px black;
}

.button {
	padding: 10px;
	background-color: #DDD;
	border-radius: 8px;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	width: fit-content;
}

.mini-button {
	padding: 4px;
	background-color: #DDD;
	border-radius: 8px;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	color: #000;
	font-size: 12px;
}

.red {
	background-color: #f44336;
	color: #fff;
}
.blue {
	background-color: #2196f3;
	color: #fff;
}

.button-group {
	display: flex;
}

.button-group > * {
	margin: 0 4px;
	transition: 300ms;
}

.button-group > *:hover {
	opacity: 0.8;
}

form {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 0 auto;
}

form input {
	margin-bottom: 10px;
}